html, body, ul, ol, li, h1, h2, h3 {
			margin: 0px;
			padding: 0px;
		}
		body, html {
			position: relative;
			text-align: center;
		}

		body * {
			word-break: break-word;
			text-decoration: none;
		}
		
		#Samils div.page {
			width: 100%;
			height: auto;
			display: inline-block;
			box-sizing: border-box;
			padding: 4em;
		}

		#Samils div.page div.page-container {
			width: inherit;
			height: inherit;
			display: inherit;
			box-sizing: inherit;
		}

		#Samils div.page div.page-code {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0px;
			left: 0px;
			right: 0px;
			text-align: center;
			pointer-events: none;
			opacity: .4;
		}

		#Samils div.page div.page-code span {
			font-size: 40vw;
		    display: inline-block;
		    margin: -14vh;
		    color: #ffffff;
		    text-shadow: 0 0 2px #dedede;
		    font-family: "Segoe UI";
		    pointer-events: none;
		}

		#Samils div.page div.page-data {
		    width: 95%;
		    border: 1px solid #ece7e7;
		    max-width: 600px;
		    background: rgba(255, 255, 255, 0.75) none repeat scroll 0% 0%;
		    border-radius: 3px;
		    margin: auto;
		    z-index: 2;
		    position: relative;
		    box-shadow: 0 0 6px 0px rgba(195, 186, 186, 0.43137254901960786);
		}

		#Samils div.page div.page-data-message {
			padding: .6em .9em;
		    font: lighter 31px "Segoe UI", "Arial Norrow", Helvetica, sans-serif;
		    color: #444444;
		}

		#Samils div.page div.page-data-message,
		#Samils div.page div.page-data-log {
			box-sizing: border-box;
		}

		#Samils div.page div.page-data-log {
			border-style: solid;
			border-color: #ece7e7;
			border-width: 1px .0px .0px;
			padding: .7em 1.4em;
			color: #e4e4e4;
			font: lighter 20px sans-serif;
		}
		body, html { 
			background: white;
			animation: BackGroundColor 7s linear;
			animation-delay: .6s;
		    animation-play-state: running;
		    animation-name: BackGroundColor;
		    animation-timing-function: ease-in;
		    animation-iteration-count: infinite;
		}

		@keyframes BackGroundColor {
			0% {
				background: #ffffff;
			}
			10% {
				background: #a94646;
			}
			20% {
				background: #a97446;
			}
			30% {
				background: #a9a646;
			}
			40% {
				background: #5aa946;
			}
			50% {
				background: #46a9a0;
			}
			60% {
				background: #467ba9;
			}
			70% {
				background: #4c46a9;
			}
			80% {
				background: #8c46a9;
			}
			90% {
				background: #a94678;
			}
			100% {
				background: #a94646;
			}
		}

		@-webkit-keyframes BackGroundColor {
			0% {
				background: #ffffff;
			}
			10% {
				background: #a94646;
			}
			20% {
				background: #a97446;
			}
			30% {
				background: #a9a646;
			}
			40% {
				background: #5aa946;
			}
			50% {
				background: #46a9a0;
			}
			60% {
				background: #467ba9;
			}
			70% {
				background: #4c46a9;
			}
			80% {
				background: #8c46a9;
			}
			90% {
				background: #a94678;
			}
			100% {
				background: #a94646;
			}
		}

		.page-data-button {
			margin: auto;
			box-sizing: border-box;
			padding: 13px .0px .0px;
		}

		.page-data-button a {
		    background-color: #ff00b1;
		    box-sizing: border-box;
		    padding: .3em .8em .4em;
		    margin: .7em auto .0px;
		    display: inline-block;
		    border-style: solid;
		    border-color: #ec71c7 #b92b8e #ff93de;
		    border-width: 2px 3px 2px;
		    color: #ffddf5;
		    font-weight: bold;
		    font-size: 23px;
		}
